.client__form

  &__content
    display: flex
    width: 100%
    justify-content: space-between
    align-items: stretch

    &__search
      border: 1px solid #B7B7B7
      border-radius: 25px
      display: inline-flex
      overflow: hidden
      height: 30px
      width: 195px

      &__input
        border: none
        outline: none
        padding-left: 10px
        color: #8D8D8D
        width: 70%

      &__button
        background-color: transparent
        border: none
        border-left: 1px solid #B7B7B7
        color: #8D8D8D
        width: 20%

    &__advanced
      border: none
      background-color: #0088CC
      color: white
      border-radius: 10px

  &__advancedform
    padding: 15px
    background-color: #B2CEDB
    border: 2px solid #87949F
    color: #5F6D71
    display: inline-flex
    row-gap: 10px
    flex-direction: column

    &__group
      display: flex
      width: 100%
      justify-content: space-between
      align-items: center

      &__input
        outline: none
        border: 1px solid #A9AFB2
        border-radius: 5px
        height: 25px

    &__save__button
      width: 80px
      align-self: end
      background-color: #0088CC
      border: none
      padding: 5px
      border-radius: 5px
      color: white
