<div class="sidebar__container">
  <label class="sidebar__container__title"><mat-icon>person</mat-icon> Clients</label>
  <nav class="sidebar__container__nav">
    <a class="sidebar__container__nav__route" routerLink="./core/client" routerLinkActive="active">Clients</a>
    <a class="sidebar__container__nav__route" routerLink="./core/client/history" routerLinkActive="active">Clients look history</a>
    <a class="sidebar__container__nav__route" routerLink="./core/client/pin-configuration" routerLinkActive="active">Emergency PIN configuration</a>
    <a class="sidebar__container__nav__route" routerLink="./core/client/pin-history" routerLinkActive="active">Emergency PIN history </a>
  </nav>
</div>
