<header class="header">
  <client-header (isToggleButton)="$event ? drawer.open() : drawer.close()" [isToggle]="drawer.opened"></client-header>
</header>
<section class="body">
  <mat-drawer-container class="sidebar__container" [hasBackdrop]="hasBackdrop" [autosize]="true">
    <mat-drawer #drawer [mode]="mode">
      <client-side-bar></client-side-bar>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</section>


